fastapi == 0.75.0
uvicorn == 0.17.6
Jinja2 == 3.1.1
python-multipart == 0.0.5
python-decouple == 3.6
passlib == 1.7.4
python-jose == 3.3.0
asyncpg == 0.25.0
aioredis == 2.0.0
websockets == 10.3
wsproto == 1.1.0
sqlalchemy==1.4.32
python-dotenv==0.19.2
validators==0.18.2
loguru==0.6.0
bcrypt == 4.0.0