<html>
  <head>
    <title>Login page!</title>
  </head>
  <body>
    <form method="post">
        <input type="text" name="username" placeholder="Username" value="foo"></br>
        <input type="text" name="fullname" placeholder="Full name" value="foobar"></br>
        <input type="email" name="email" placeholder="Email Address" value="foobar@foo.com"></br>
        <input type="password" name="password" placeholder="Password"></br>
        <input type="checkbox"
        id="foo"
        name="check"
        value="true" />
        <label for="foo">Save URL in your account?</label></br>
        <input type="submit" value="Login">
    </form>
  </body>
</html>