# my global config
global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: "web"

rule_files:

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["host.docker.internal:9090"]

  - job_name: "web"
    dns_sd_configs:
      - names: ["web"]
        port: 5001
        type: A
        refresh_interval: 5s
